* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
}

.container {
    max-width: 1000px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid transparent;

}

.banner {

    height: 400px;
    background: url(../images/aboutme.png) rgba(171, 192, 248, 0.315);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-blend-mode: overlay;

}

.text-box {
    text-align: center;
    color: white;
}

.about {
    margin-top: auto;
    margin-bottom: auto;
    padding: 100px 100px;
    background: lightgrey;

}

.about-flex {

    display: flex;
    gap: 25px;


}


h1 {


    font-size: 34px;
    padding: 15px 0;
    text-align: center;

}

h2 {

    font-size: 24px;
    text-align: center;
    margin-bottom: 15px;

}

p {


    font-size: 18px;
    text-align: center;
}




.left {
    width: 50%;
    height: 400px;
    background-image: url('../images/determination.png');
    background-size: cover;
    background-position: center;
}

.right {
    width: 50%;
}

@media only screen and (max-width: 800px) {

    .card {
        width: calc(100% / 2 - 15px);
    }

}

@media only screen and (max-width: 600px) {

    .card {
        width: 100%;
    }

}