* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial Narrow', Arial, sans-serif;
}

h1 {
    font-size: 25px;
    margin-bottom: 10px;
    color: white;


}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: black;

}

p {
    font-size: 16px;
    line-height: 1.4;
    color: white;
    margin-bottom: 10px;


}

.section {
    padding: 80px 0;
}

.text-box {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    display: inline-block;
}

.container {
    max-width: 1000px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}


.about {

    background-image: url('../images/aboutme.png');
    min-height: 100vh;
    padding: 50px 0;
    background-size: cover;
    background-position: center;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-blend-mode: overlay;

}