* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    padding: 80px 0;
}

h1 {
    font-size: 60px;
    margin-bottom: 10px;
}

h2 {
    font-size: 30px;
    margin-bottom: 15px;
    color: blue;
}

p {
    font-size: 48px;
    line-height: 1.4;
}

.page-header {
    position: fixed;
    width: 100%;
    transition: .5s;
}

.page-header {
    position: fixed;
    width: 100%;
    transition: .5s;
}

.header-flex {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu {
    list-style: none;
    display: flex;
    gap: 40px;
}

.header-menu a {
    text-decoration: none;
    color: green;
}

.welcome {
    min-height: 100vh;
    padding: 150px 0;
    background-image: url(../images/welcome.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}