* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: rgb(4, 12, 58);
}

.container {
    max-width: 900px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.page-header {
    position: fixed;
    width: 100%;
    transition: .5s;
}

.page-header {
    position: fixed;
    width: 100%;
    transition: .5s;
}

.header-flex {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu {
    list-style: none;
    display: flex;
    gap: 40px;
}

.header-menu a {
    text-decoration: none;
    color: rgb(4, 12, 58);
}

.andres {
    display: none;
}

.text-box {
    text-align: center;
    max-width: 700px;
    width: 90%;
    color: white;

}

.textbox h1 {
    font-size: 90px;
    font-weight: 300;
}

.welcome {
    min-height: 100vh;
    padding: 150px 0;
    background: url(../images/bluegrey.jpg) rgba(106, 113, 146, 0.236);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-blend-mode: multiply;
    border: 8px solid silver;
}


.learning {

    background: rgb(219, 227, 240);
}

.learning-flex {

    display: flex;
    gap: 50px;

}


.card1 {
    background-image: url('../images/beopen.jpg');
}

.card2 {
    background-image: url('../images/Embrace.png');
}

.card3 {
    background-image: url('../images/getactive.jpg');
}

.card4 {
    background-image: url('../images/keepinmind.jpg');
}


.learning {

    border: 1px solid rgb(216, 215, 215);
}

.learning.right {
    height: 400px;
    background-size: cover;
    background-position: center;
    width: 50%;
}

.learning .left {
    padding: 10px 20px 30px;
    background: white;
    text-align: center;
    width: 50%;
}



.cta {
    padding: 100px 0;
    background: rgb(153, 198, 235);
    text-align: center;

}

.cta-contain {

    align-items: center;
    justify-content: center;

}

.cta h3 {
    font-size: 30px;
    color: white;
    margin-bottom: 15px;
}






















@media only screen and (max-width: 800px) {

    .card {
        width: calc(100% / 2 - 15px);
    }

}

@media only screen and (max-width: 600px) {

    .card {
        width: 100%;
    }

}