* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: serif;
    color: rgb(216, 243, 247);
}


section {
    padding: 80px 0;
    margin-top: auto;
    margin-bottom: auto;
}

h1 {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 34px;
    padding: 25px 0;

}

p {

    margin-bottom: 20px;
    font-size: 24px;
    padding: 15px 0;
}

.text-box {

    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    display: inline;
    color: white;
}

.container {
    max-width: 1000px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.welcome {
    background-image: url('../images/welcome.png');
    background-position: center;
    background-size: cover;
    justify-content: center;
    display: flex;
    align-items: center;
}

.about {
    background-image: url('../images/aboutme.png');
    background-position: center;
    background-size: cover;
    justify-content: center;
    display: flex;
    align-items: center;
}

.learning {
    background-image: url('../images/onlinelearning.jpg');
    background-position: center;
    background-size: cover;
    justify-content: center;
    display: flex;
    align-items: center;
}

.resources {
    background-image: url('../images/elearning.jpeg');
    background-position: center;
    background-size: cover;
    justify-content: center;
    display: flex;
    align-items: center;
}